/* Dropdown menu button */ 
.Dropbtn { 
    background-color: inherit; 
    color: rgb(237, 114, 7); 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
    float: right; /* align the button to the right */ 
    margin-right: 20px; /* add some margin to the right */ 
  } 
   /* Dropdown menu content */ 
  .DropdownContent { 
    display: none; 
    position: absolute; 
    background-color: #f8f8f4; 
    min-width: 60px; 
    z-index: 1; 
    right: 0; /* align the content to the right */ 
  } 
   /* Show the dropdown menu on hover */ 
  .DropdownMenu:hover .DropdownContent { 
    display: block; 
  } 
   /* Style the links inside the dropdown menu */ 
  .DropdownContent a { 
    color: #f56607; 
    padding: 6px 3px; 
    text-decoration: none; 
    display: block; 
  } 
   /* Change color of dropdown links on hover */ 
  .DropdownContent a:hover { 
    background-color: #f8f8f4; 
  }
