/* Global CSS ----------------- */

/* In Global
- Font& family type (small size) (comic sans)
- Color (variables)
*/

/* 
TO DO:
-Adjust the app NavBar h1 tag logo so text is centered 
-Correctly display the graph on .WalletPage 


*/
:root {
  --orange: #e57300;
  --green: #494900;
  --lightGreen: #7d7d17;
  --offWhite: #ebebd3;
  --grey: #d9d9d9;
}

/* Color variable key */
/* Use:
var(--orange)
var(--green)
var(--lightGreen)
var(--offWhite)
var(--grey) 
*/

/* Universal Buttons */
.Button {
  background-color: #ffa500;
  padding: 10px;
  margin: 10px;
  border-radius: 100%;
}

/*Universal font*/
* {
  font-family: "Roboto";
}

/* NavBar CSS -------------------------------------------------------------------- */
.NavBar {
  /* padding: 20px;
  text-align: center;  */
  height: 7.75vh;
  /* background-color: var(--orange); */
  background: linear-gradient(to bottom, var(--orange) 0%, #ffa500 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  /* round the corners of the div box */
  border-radius: 30px;
  height: 6vh;
  max-width: 50%;
  min-width: 300px;
}
.Logo > h1 {
  color: var(--offWhite);
  font-size: large;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 2%;
  margin-left: 10px;
}
.Logo > p {
  color: var(--offWhite);
  margin: 0;
  margin-left: 90px;
}

/* Dropdown menu button */
.Dropbtn {
  background-color: inherit;
  color: 494900;
  font-size: 16px;
  border: none;
  cursor: pointer;
  float: right; /* align the button to the right */
  margin-right: 20px; /* add some margin to the right */
}
/* Dropdown menu content */
.DropdownContent {
  background-color: #939601;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  right: 20px; /* align the content to the right */
}
/* Show the dropdown menu on hover */
.DropdownMenu:hover .DropdownContent {
  display: block;
  margin-right: 0;
}
/* Style the links inside the dropdown menu */
.DropdownContent a {
  color: var(--green);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.DropdownContent a:hover {
  background-color: #f56607;
}
/* Dropdown menu button */
.Dropbtn {
  background-color: inherit;
  color: var(--green);
  font-size: 70px;
  border: none;
  cursor: pointer;
  /* align the button to the right */
  float: right;
  /* add some margin to the right */
  margin-right: 20px;
}
/* Dropdown menu content */
.DropdownContent {
  display: none;
  position: absolute;
  background-color: var(--offWhite);
  min-width: 160px;
  z-index: 1;
  right: 0; /* align the content to the right */
}
/* Show the dropdown menu on hover */
.DropdownMenu:hover .DropdownContent {
  display: block;
}
/* Style the links inside the dropdown menu */
.DropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.DropdownContent a:hover {
  background-color: #f56607;
}

/* Footer CSS ------------------------------------------------------------------ */

footer {
  /* Set the image as the footer of the entire screen */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #494900;
  height: 6vh;
  /* Apply stretching and cropping to the image */
  /* object-fit: scale-down;
  object-position: center; */
}

/* Homepage CSS ------------------------------------------------------------------ */
.HomePage {
  display: flex;
  flex-direction: column;
}

.HomePage-title {
  display: flex;
  justify-content: center;
  font-size: 5vw;
}
.Link-button-sign-up {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.Link-about-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10%;
}

.HomePage-button-sign-up {
  text-decoration: none;
  background-color: #e57300;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  font-size: x-large;
}

.about-button {
  text-decoration: none;
  border-radius: 8px;
  height: 4vh;
  font-size: larger;
  padding: 5px 10px 5px 10px;
  background-color: var(--green);
  color: var(--offWhite);
}

/* 
.HomePage--ImageCarousel {
  /* Needs to place image in the center of the width <<<<<<<< */
/* display: flex;
  justify-content: center;
  align-items: center;
} */
/* .HomePage--ImageCarousel > img {
  height: 300px;
  width: auto;
  border-radius: 30px;  */
/* padding: 2%; */
/* } */

/* .introText {
  /* Control all fo the text inside */
/* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
/* .introText > h1 {
  /* this is the title ish */
/* margin-left: 0%;
  font-size: x-large;
  max-width: 70%;
} */
/* .introText > p { */
/* this is the intron paragraph */
/* max-width: 70%;
} */

/* .intro-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2%;
} */

/* Homepage-Carousel CSS ------------------------------------------------------------------ */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  position: relative;
  margin-top: 20%;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.carousel.active {
  opacity: 1;
}

.carousel-image img {
  width: 98%;
  height: auto;
  position: relative;
  display: inline-block;
  margin-right: 1%;
  margin-left: 1%;
  border-radius: 2.5%;
}

.carousel-buttons {
  position: absolute;
  top: 0; /* Adjust top position as needed */
  left: 0; /* Adjust left position as needed */
  right: 0; /* Adjust right position as needed */
  bottom: 0; /* Adjust bottom position as needed */
}

.carousel-button-previous {
  position: absolute;
  text-decoration: none;
  top: 43%;
  left: 1%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #9fa5a3a1;
  border-radius: 50%;
  color: white;
  font-size: xx-large;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
}
.carousel-button-previous:hover {
  background-color: white;
}

.carousel-button-next {
  position: absolute;
  text-decoration: none;
  top: 43%;
  right: 1%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #9fa5a3a1;
  border-radius: 50%;
  color: white;
  font-size: xx-large;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.carousel-button-next:hover {
  background-color: white;
}

.carousel-text {
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5%;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* About CSS ------------------------------------------------------------------ */
.example-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.app-examples {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  /* height: auto;
  width: 100%; */
}

/* LoginPage CSS ----------------------------------------------------------------- */

/* Kitchen CSS ------------------------------------------------------------------- */
.Kitchen-Container {
}

.Kitchen-Title-Container {
  background-color: var(--green);
  border-radius: 50%;
  margin-left: 15%;
  margin-right: 15%;
}

.Kitchen-Title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--offWhite);
  padding-top: 3%;
  padding-bottom: 3%;
  height: 10%;
  font-size: large;
  font-weight: lighter;
}


.Kitchen-Household-And-Plan-Container {
  background-color:var(--orange);
  display:flex;
  justify-content:space-between;
  padding-left:5%;
  padding-right:5%;
  padding-top: 1%;
  padding-bottom: 1%;

}

.recipe-plan-selector-container{
display:flex;
flex-direction:row;
}



.recipe-plan-dropdown-container {
  display:inline-flex;
  align-items:center;
  
 
}

.recipe-plan-dropdown {
  padding:5%;
  border-radius:5%;
  display:flex;
  border:none;
  align-items:center;
  justify-content:center;
  background-color: #EBEBD3;
  color: #000;
  height:100%;
  outline: none;
  
  
  
}


.recipe-household-container {
  display:flex;
  
  
  }
  
 
  
  .recipe-household-dropdown-container {
    display: inline-flex;
    align-items:center;
    justify-content:center;
  }
  
  .recipe-household-dropdown {
    padding:5%;
  border-radius:5%;
  border:none;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: #EBEBD3;
  color: #000;
  height:100%;
  outline: none;
  }

  .recipe-household-dropdown:hover, .dropbtn:focus {
    /* background-color: var(--green); */
  }

.day-selector-container{
  
background-color: var(--green);
color: var(--offWhite);
height:min-content;

}

.day-selector-text{
display:flex;
justify-content: center;

}
.day-selector-buttons-container {
display: flex;
justify-content: center;
height:min-content;

}
.day-button {
  display:flex;
  justify-content:center;
  background-color: #EBEBD3;
  padding:2%;
  margin:1.5%;
  width:10%;
  border-radius: 100%;
}


/* .recipe-household-button{ 
  background-color: #EBEBD3;
  padding:2%;
  margin:1.5%;
  font-size:large;
  padding:1%;
  border-radius: 100%;
  width:25%;
  height: 25%;
  width:50%;
} 
   */

.kitchen-get-started-container{

}

.kitchen-get-started-text {
  display:inline-flex;
  justify-content: center;
  text-align: center;
}

.kitchen-get-started-image {
  display:flex;
  width:100%;
  height:auto;
}

.Recipe-Container {
}


.Recipe-Timings-Container {
  display:flex;
  justify-content: space-evenly;
  margin-left:2%;
  margin-right:2%;
  font-size:small;
  height:auto
}

.recipe-name-container {
  display:flex;
  justify-content: center;
  height:fit-content;
}
.recipe-name{
  display:flex;
  justify-content:center;
  font-size:large;

}

.recipe-image-container {
  display: flex;
  justify-content:center;
}

.recipe-image {
  display:flex;
  justify-content:center;
  border-radius:5%;
  margin-right:2%;
  margin-left:2%;
  width:94vw;
  max-width:max-content;
  height: 25vh;
  object-fit: cover;
  
}

.recipe-ingredients-container {
  display:flex;
  flex-direction: column;
  align-items:center;
  padding:none;

}

.recipe-ingredients-container ul {
  list-style-type:circle;
  padding: 0;
  margin: 0; /* Add this line to remove the default margin */
}

.recipe-ingredients-container li {
  padding: 0;
  margin: 0; /* Add this line to remove the default margin */
  line-height: 1.5; /* Adjust the line height to control the spacing between list items */
}

.recipe-instructions-container {
  display:inline-block;
  padding-left: 5%;
  padding-right:5%;
  margin:0;
  line-height:1;
}

/* Wallet CSS -------------------------------------------------------------------- */

.WalletPage {
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 20%;
  margin-top: 5%;
}

.WalletPageTitle {

display: flex;
align-self: center;
justify-content: center;
height: 25%;
background-color: var(--green);
color: var(--offWhite);
font-weight: 500;
border-radius: 30px;
width: 50%;
padding: 0.3%;

}


.WalletPageInfoBox {
  background-color: #ffa500;
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(255, 106, 0, 0.291);
}

/*media settings for .WalletPageInfoBox*/
@media (max-width: 1063px) {
  .WalletPageInfoBox {
    display: flex;
    flex-direction: column !important;
  }
}

.canvasjs-chart-canvas {
  display: flex;
  position: relative !important;
  width: 100%;
  height: 100%;
  background-color: var(--offWhite) !important;
}

.graph-container {
  position: relative;
  top: 0;
  bottom: 0;
  display:flex;
  flex:1; 
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  min-height: 100%;
  width: 90%;
  height: 100%;
}
.canvasjs-chart-container {
  display: flex;
  margin-bottom: 1%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  background-color: var(--offWhite);
  border-radius: 10px;
  border: 1px solid var(--green);
}

.canvasjs-chart-canvas:first-child {
  display: flex;
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}
/*Make 2nd invisible child of graph not display (so it doesn't create empty space to the right*/
.canvasjs-chart-canvas:nth-child(2) {
  display:none;
}

.WalletPageInfoContents {
  display: flex;
  flex-direction: column;
  background-color: var(--offWhite);
  border: 1px solid var(--green);
  border-radius: 10px;
  font-size: small;
  height: 70%;
  width:50%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
}
/*media settings for .WalletPageInfoContents*/
@media (max-width: 1063px) {
  .WalletPageInfoContents {
    display: flex;
    width: 80%; 
  }
}


.WalletPageInfoContents > h1 {
}.WalletPageInfoContents > h2 {
}.WalletPageInfoContents > h3 {
  font-weight: bold;
}.WalletPageInfoContents > h4 {
}.WalletPageInfoContents > h5 {
}

/*text inside .WalletPageInfoContents*/
.wallet-info-text {
  text-align: center;
}
.wallet-info-text:last-child {
  text-align: left;
  margin-left: 5%;

}

.wallet-budget-input {
  margin-left: 3%;
  margin-bottom: 1%;
  margin-top: none;
  border-radius: 7px;
  border: 1px solid var(--green);
}
.wallet-budget-input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  margin-top: 1%;
}




.wallet-plan-button:focus {
  background-color: var(--green);
  color: var(--offWhite);
}

.wallet-familySize-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet-plan-buttons-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wallet-familySize-button:focus {
  background-color: var(--green);
  color: var(--offWhite);
}
.Button {
  border: 1px solid #494900a3;

}
