body {
    background-image: url("https://images.pexels.com/photos/5965942/pexels-photo-5965942.jpeg?auto=compress&cs=tinysrgb&w=1600");
}

.supabase-auth-ui_ui-button {
    background-color: white !important;
    width: 50%;
    
}