.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.carousel.active {
  opacity: 1;
}

.carousel-image img {
  width: 100%;
  height: auto;
}

.carousel-text {
  text-align: center;
  padding: 10px;
}
