.userPageTitle {
  background-color: #494900;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.userPageInfoBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffa500;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

.userPageInfoContents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ebebd3;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.userPageGraph {
  grid-column: span 1;
  margin: 10px;
}
