
/* styling the title page */
/* .userPageTitle {
  color: #ffa500;
  background-color: #494900;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
} */

/* styling the entire box containing both savings and graph */
/* .userPageInfoBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffa500;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
} */

/* styling the savings part */
/* .userPageInfoContents {
  font-size: small;
  display: flex;
 
  flex-direction: column;
  
  background-color: #ebebd3;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
} */


/* styling the placement of the graph */
/* .userPageInfoGraph {
  display: grid;
  grid-column: span 1;
  margin: 10px;
} */


/* .graphSavingsButton {
  background-color: #494900;
  color: #ffa500;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  
} */
