.Orange {
    background-color: #E57300;
}


.SpanClass {
    background-color: #EBEBD3;
    padding: 10px;
    margin: 10px;
    border-radius: 100%;
}


.titleHeader {
    background-color: #494900;
    color: #E57300;
    width: 60%;
    margin: auto;
    border-radius: 35%;
    padding: 5px;
}

.foodImage {
    width: 250px;
    height: 250px;
}


.recipeRender {
    display: flexbox;
}