



/* .foodImage {
    width:50vh;
    height: 50vh;
}


.recipeRender {
    display: flex;
    margin: 2% auto 2% auto;
    justify-content: center;
    align-items: center;
}

.recipeContent {
    background-color: #EBEBD3;
    width:50vh;
    height: 50vh;
} */